<div>
    <div class="well hoverwell thumbnail" [routerLink]="['/events',event.id]">
      <h2>{{ event.name}}</h2>
      <div>Date: {{event?.date}}</div>
      <div [ngSwitch]="event?.time" >
        <span [ngClass]="getStartTimeClass()" *ngSwitchCase="'09:00 am'">
          {{event.time}}(Early event)
        </span>
        <span [ngClass]="getLatestTimeClass()" *ngSwitchCase="'10:00 am'">
          {{event.time}}(Proper event)
        </span>
        <span [ngClass]="getLatestTimeClass()" *ngSwitchCase="'12:00 am'">
          {{event.time}}(Late event)
        </span>
        <span [ngClass]="getNormalTimeClass()" *ngSwitchDefault>
          {{event.time}}(Dash you)
        </span>
      </div>
      <div>Price: ${{event?.price}}</div>
      
      <div>
          <span>
              Location:{{event.location.address}}
          </span>
          <span>&nbsp;</span>
          <span>{{event.location.city}} , {{event.location.country}}</span>
      </div>
      <div *ngIf="event?.onLineUrl">
        Online URL : {{event.onLineUrl}}
      </div>
    </div>

    <!-- <button class="btn btn-primary" (click)="handleClick()">Click </button> -->
  </div>